$white : #efeee9;
$beige: #eeebdf;
$main-font-color : #455a64;
$green: #00bfa5;
$dark-green : #009688;

@import "common/setup";
@import "common/fonts";
@import "common/socials";
@import "common/welcome";
@import "common/index";
@import "common/user";
@import "common/nav";
@import "common/copyright";


//mixins
@import "helpers/mixins";

// @import "blocks/*";


@font-face {
    font-family: 'Bernier';
    src: url('../fonts/bernier/bernierregular-regular-webfont.woff') format('woff'),
         url('../fonts/bernier/bernierregular-regular-webfont.svg#bernier_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.section {
	&-title {
		// position: absolute;
		opacity: .2;
		width: 100%;
		// display: inline-block;
	}
}

.hero {
	// padding: 30px 20px 0 20px;
	min-height: 650px;
	background-size: cover;
	position: relative;
	overflow: hidden;
	padding-top: 20px;
	background-image: url(../img/hero-bg.jpg);
	&__title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		// width: 100%;
		text-align: center;
		// @include centered(y);
	}
	&__user-block {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	}
}


.hamburger {
	display: inline-block;
	width: 45px;
	height: 40px;
	// background-image: url(/assets/img/icons/hamburger.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	&:hover {
		
	}
}

.top-line {
	@include clearfix;
	&__left {
		width: 50%;
		float: left;
		text-align: left;
	}
	&__right {
		width: 50%;
		float: right;
		text-align: right;
	}
}

// .arrow-link {
// 	position: absolute;
// 	bottom: 10%;
// 	left: 50%;
// 	transform: translateX(-50%);
// }

// .arrow {
// 	background-image: url(/assets/img/icons/arrow_down.svg);
// 	display: block;
// 	width: 55px;
// 	height: 35px;
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	background-size: cover;
// 	&_down {
		
// 	}
// 	&_top {
// 		transform: rotate(180deg);
// 	}
// }

.down-arrow {
  bottom: 40px;
  z-index: 10;
  @include centered(x);
}

/*-------about------*/

.triangle {
  height: 100px;
  width: 100%;

  &_fill {

    &_white {
      fill: $white;
    }

    &_beige {
      fill: $beige;
    }

  }
}

.about {
	@extend %clearfix;
	position: relative;

	&__left {
		width: 50%;
		float: left;
		background: $white;
		position: relative;
		@extend %clearfix;
		// padding-bottom: 40px;
	}
	&__right {
		width: 50%;
		float: right;
		background: $beige;
		position: absolute;
	    padding-bottom: 40px;
	    right: 0;
	    bottom: 0;
	    top: 0;
		@extend %clearfix;
		padding-bottom: 40px;
	}
	&__triangles {
		position: absolute;
		bottom: 100%;
	}
}

.about-data {
	&__description {

	}
	&__content {

	}
}

.title {
  color: #373e42;
  font-size: 63px;
  @include bernier();
  padding: 45px 80px;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  $margin : 40px;

  &:after, &:before {
    content: "";
    display: block;
    @include centered(y);
    background: rgba($main-font-color, .2);
    width: 22px;
    height: 5px;
  }

  &:after {
    right: $margin;
  }

  &:before {
    left: $margin;
  }
}

.subtitle {
	@include bernier();
	font-size: 35px;
	display: inline-block;
    position: relative;
    padding: 20px 85px;
    color: #455a64;
    max-width: 400px;
    text-align: center;

	$margin : 40px;

	&:after, &:before {
    content: "";
    display: block;
    @include centered(y);
    background: rgba($main-font-color, .2);
    width: 22px;
    height: 5px;
  }

  &:after {
    right: $margin;
  }

  &:before {
    left: $margin;
  }
}

.user-about {
	&__picture {

	}
	&__img {
		width: 440px;
	}
	&__title {
		 color: #455a64;
	}
	&__text {
		 // color: #455a64;
		 // font-size: 16px;
		 // @include Roboto();
		 // line-height: 24px;
	}
}

/*-----SKILLS----*/

.skills {
	text-align: left;
	margin-top: 50px;
	&__item {
		margin-top: 40px;
	}
}

.skill-section {
	&__title {
		@include Roboto(500);
		font-size: 28px;
		line-height: 32px;
	}
	&__list {
		@include clearfix;
	}
	&__item {
		@include clearfix;
		float: left;
		margin-left: 35px;
		margin-top: 20px;
		&:first-child {
			margin-left: 0;
		}
		&:nth-child(5) {
			margin-left: 0;
		}
		&:nth-child(9) {
			margin-left: 0;
		}
	}
}

.skill {
	// display: inline-block;
	float: left;
    width: 110px;
    height: 110px;
    position: relative;
	&__circle {

	}
	&__name {
		text-align: center;
		@include centered();
		@include Roboto(600);
		color: $green;
		font-size: 13px;
		line-height: 16px;
	}
}



/*------END SKILLS----*/


/*----MAP-----*/

.map {
	min-height: 650px;
	position: relative;
	background-color: #eee;
}

@import "common/contacts";
@import "common/circle";
@import "common/footer";

/*----END MAP-----*/