.flip-container {
	perspective: 1000px;
	@include centered();
}
/* flip the pane when hovered */
.flip .flipper  /*, .flip-container.hover .flipper */ {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.flip-container, .welcome, .login-wrapper {
	width: 383px;
	height: 410px;
	@include w520 {
		width: 299px;
		height: 410px;
	}
}


/* hide back of pane during swap */
.welcome, .login-wrapper {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.welcome {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.login-wrapper {
	transform: rotateY(180deg);
}