@font-face {
	font-family: 'Roboto';
	src: url('../fonts/robot/Roboto-Light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/robot/Roboto-LightItalic.ttf') format('ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/robot/Roboto-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/robot/Roboto-Italic.ttf') format('ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/robot/Roboto-Medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/robot/Roboto-MediumItalic.ttf') format('ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/robot/Roboto-Bold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/robot/Roboto-BoldItalic.ttf') format('ttf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Bernier';
	src: url('../fonts/bernier/BERNIERRegular-Regular.otf') format('otf');
	font-weight: 400;
	font-style: normal;
}