.footer {
	background-color: rgba(#373e42, .85);
	&__top {
		border-bottom: 1px solid rgba(#fff, .1);
		padding: 20px 0;
		@include clearfix;
		@include w992 {
			text-align: center;
		}
		&_left {
			width: 50%;
			float: left;
			@include w992 {
				width: 100%;
				float: none;
			}
		}
		&_right {
			width: 50%;
			float: right;
			text-align: right;
			@include w992 {
				width: 100%;
				float: none;
				margin-top: 10px;
				text-align: center;
			}
		}
	}
	&__bottom {
		@include clearfix;		
		padding: 20px 0;
		@include w992 {
			text-align: center;
		}
		&_left {
			width: 50%;
			float: left;
			color: #fff;
			font-size: 16px;
			@include Roboto(400);
			opacity: .5;
			text-align: left;
			@include w992 {
				width: 100%;
				float: none;
				text-align: center;
			}
			
		}
		&_right {
			width: 50%;
			float: right;
			color: #fff;
			font-size: 16px;
			@include Roboto(300);
			opacity: .5;
			text-align: right;
			@include w992 {
				width: 100%;
				float: none;
				margin-top: 10px;
				text-align: center;
			}
			&__text {
				
			}
		}
	}
}

.footer-nav {
	@include clearfix;
	&__link {
		display: block;
		font-size: 16px;
		@include Roboto(500);
		text-decoration: none;
		color: #fff;
		&:hover {
			color: $green;
		}
	}
}

.footer-nav-list {
	@include clearfix;
	&__item {
		float: left;
		margin-left: 35px;
		@include w992 {
			float: none;
			display: inline-block;
		}
		@include w320 {
			margin-left: 10px;
			margin-right: 10px;
		}
		&:first-child {
			margin-left: 0;
		}
	}
}