.login {
	width: 380px;
	background-color: rgba(#fff, .15);
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	& input {
		padding: 15px 20px;
		border: none;

	}
	&__robot_check {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #fff;
		border: 1px solid #cfcfcf;
	}
	&__robot {
		display: none;
		&:checked .login__robot_check {
			background-image: -ms-radial-gradient(center, ellipse farthest-corner, $green 35%, #FFFFFF 35%);

			/* Mozilla Firefox */ 
			background-image: -moz-radial-gradient(center, ellipse farthest-corner, $green 35%, #FFFFFF 35%);

			/* Opera */ 
			background-image: -o-radial-gradient(center, ellipse farthest-corner, $green 35%, #FFFFFF 35%);

			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, $green), color-stop(35, #FFFFFF));

			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-radial-gradient(center, ellipse farthest-corner, $green 35%, #FFFFFF 35%);

			/* W3C Markup */ 
			background-image: radial-gradient(ellipse farthest-corner at center, $green 35%, #FFFFFF 35%);
		}
	}
}

.login-wrapper {
	width: 383px;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgba(#fcfcfc, .85);
	padding: 25px 0 0 0;
	@include centered();
}