.nav {

}

.nav-list {
	@include clearfix;
	&__item {
		float: left;
		&_welcome {
			
		}
	}

}

.nav-link {
	@include Roboto(500);
	text-decoration: none;
	display: block;
	padding: 16px 32px;
	color: #fff;
	transition: .3s;
	// @include w768 {
	// 	padding: 16px 34px;
	// }
	&_welcome {
		background-color: rgba($green, .8);
		@include w520 {
			padding: 16px 22px;
		}
		&:hover {
			background-color: rgba($dark-green, .8);
		}

		
	}
}