@import "helpers/mixins";
* {
	// margin: 0;
	// padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	color: $main-font-color;
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	// @include w768 {
	// 	font-size: 15px;
	// }
	@include w520 {
		font-size: 14px;
	}
}
a {
	text-decoration: underline;
	color: #6da3bd;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	&:hover {
		text-decoration: none;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	text-align: left;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 24px;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

.page-wrapper {
	display: -webkit-box;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	width: 100%;
	// padding-bottom: 150px;
	flex: 1;
	
}

.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	@include clearfix;
	&_half_left {
		width: 600px;
		padding-left: 10px;
		float: right;
		text-align: center;
		padding: 0 80px 40px 80px;
	}
	&_half_right {
		width: 600px;
		padding-left: 40px;
		float: left;
		text-align: center;
	}
	@include w1200 {
		max-width: 1200px;
	}

	@include w1800 {
		min-width: 1800px;
	}
	
	@include w992 {
		max-width: 768px;
	}

	@include w768 {
		width: 95%;
	}
}

