.slider {
	height: 100vh;
	min-height: 650px;
	display: flex;
	flex-flow: column wrap;
	@include w992 {
		flex-wrap: nowrap;
		height: auto;
		}
	
	&__desc {
		height: 100%;
		display: flex;
		background-color: $white;
		width: 50%;
		@include w992 {
			width: 100%;
			padding-bottom: 20px;
		}
		&-info {
			margin: auto;
		}
		&-title {
			margin-bottom: 20px;
		}
		&-skills {
			padding: 20px 0;
			border-top: 1px solid $green;
			border-bottom: 1px solid $green;
			color: $green;
			text-align: center;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 40px;
		}
		&-info-link {
			margin-top: 40px;
			text-align: center;
			&__link {

			}
		}
	}
	&__display {
		background-color: $beige;
		text-align: center;
		flex: 4;
		width: 50%;
		// position: relative;
		
		@include w992 {
				order: -1;
				width: 100%;
			}
		&-pic {
			width: 95%;
		}
	}
	&__btns {
		flex: 1;
		display: flex;
		align-items: stretch;
		width: 50%;
		@include w992 {
			width: 100%;
			min-height: 150px;
		}
	}
	&__btn {
		display: block;
		background-size: cover;
		background-position: center;
		width: 100%;
		position: relative;
		&-img {

		}
		&-arrow {
			@include centered();
			width: 45px;
			height: 45px;
			fill: #fff;
		}
		&_left {
			// background: rgba(0, 0, 0, .5);
			background-image: linear-gradient(to right, rgba(#b6b4ae, .5) 0%, rgba(#b6b4ae, .5) 100%), url(/assets/img/down.jpg);

		}
		&_right {
			background-image:  linear-gradient(to right, rgba(#b6b4ae, .5) 0%, rgba(#b6b4ae, .5) 100%), url(/assets/img/up.jpg);
		}
	}
}