.user {
	@include Roboto(500)
	text-align: center;
	&__photo {
	    margin: 0 auto;
	    width: 142px;
		height: 142px;
	}
	&__img {
		max-width: 100%;
		max-height: 100%;
		// width: 142px;
		// height: 142px;
		border-radius: 50%;
		display: block;
		margin: 0 auto;
	}
	&__name {
		font-size: 35px;
		color: #fff;
		text-align: center;
		// margin-top: 30px;
		margin-top: 20px;
		@include w520 {
			font-size: 21px;
		}
		&_welcome {
			color: $main-font-color;
		}
	}
	&__desc {
		color: #fff;
		text-align: center;
		font-weight: 400;
		margin-top: 10px;
		opacity: .8;
		&_welcome {
			color: $main-font-color;
		}
	}
	&__title {
		color: #fff;
	}
	&__text {
		color: #fff;
	}
}