.welcome {
	width: 383px;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgba(#fcfcfc, .85);
	padding: 25px 0 0 0;
	@include centered();
	@include w520 {
		padding: 50px 0 0 0;
	}
	&__socials {
		// margin-top: 30px;
		margin: 30px 0;
		text-align: center;
		// @include w520 {
		// 	margin-top: 40px;
		// }
	}
	&__nav {
		// margin-top: 25px;
		// @include w520 {
		// 	margin-top: 35px;
		// }
	}
}

.welcome-user-block {
	
}

.welcome-copyright {
	text-align: center;
	@include centered(x);
	bottom: 0;
}

.welcome-login {
	display: block;
	@include Roboto(500);
	text-decoration: none;
	padding: 15px 25px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	transition: .3s;
	position: absolute;
	right: 5%;
	@include w768 {
		right: 50%;
		transform: translateX(50%);		
	}
	&:hover {
		color: $green;
		background-color: #fff;
	}
}