.works-head {
	position: relative;
	background-color: #faf8f0;
	&__triangle {
		position: absolute;
		bottom: 100%;
		fill: #faf8f0;
	}
	&__section-title {
		@include centered(x);
	}
}

.works-slider {
	
}