footer.footer 
        .footer__top
            .container
                        .footer__top_left
                            nav.footer-nav
                                    ul.footer-nav-list
                                        li.footer-nav-list__item
                                              a(href="works.html").footer-nav__link Мои работы
                                        li.footer-nav-list__item
                                              a(href="about.html").footer-nav__link Обо мне
                                        li.footer-nav-list__item
                                              a(href="blog.html").footer-nav__link Блог
                                        li.footer-nav-list__item
                                              a(href="avtorization.html").footer-nav__link Авторизация
                        .footer__top_right
                            ul.socials
                                li.socials__item
                                    a(href="#" class="socials__link socials__link_vk_rounded")
                                        svg 
                                            <use xlink:href='#vk_round'/>
                                li.socials__item
                                    a(href="#" class="socials__link socials__link_gh_rounded")
                                         svg 
                                            <use xlink:href='#github_round'/>
                                li.socials__item
                                    a(href="#" class="socials__link socials__link_in_rounded")
                                         svg 
                                            <use xlink:href='#in_round'/>

        .footer__bottom
                .container
                    .footer__bottom_left Я веб-разработчик из Крыма, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                            
                    .footer__bottom_right
                        .copyright © Dexter Freeman | создано с любовью в LoftSchool | 2017