.hamburger-wrapp
                    a(href="#").hamburger.hero-hamburger  
                        //- svg
                        //-     <use xlink:href="#hamburger"> 
                        span.hamburger__center                 
                    .full-screen-menu
                        .container
                            //- a(href="#").full-screen-menu__close
                            //-     svg
                            //-         <use xlink:href="#hamburger">
                            ul.full-screen-menu-list
                                li.full-screen-menu-list__item
                                    a(href="works.html").subtitle.subtitle_white.full-screen-menu__link Мои работы
                                li.full-screen-menu-list__item
                                    a(href="blog.html").subtitle.subtitle_white.full-screen-menu__link Блог
                                li.full-screen-menu-list__item
                                    a(href="about.html").subtitle.subtitle_white.full-screen-menu__link Обо мне
                                li.full-screen-menu-list__item
                                    a(href="index.html").subtitle.subtitle_white.full-screen-menu__link Авторизация