extends ../_template

block variables
  - var title = 'About'
  

block content
    .page-wrapper
        .wrapper
            section.section.hero
                .container
                    ul.socials.hero-socials
                        li.socials__item
                            a(href="#").socials__link.socials__link_vk
                                svg 
                                    <use xlink:href='#vk'/>
                        li.socials__item
                            a(href="#").socials__link.socials__link_gh
                                svg 
                                    <use xlink:href='#github'/>
                        li.socials__item
                            a(href="#").socials__link.socials__link_in
                                svg 
                                    <use xlink:href='#in'/>
                    include ../blocks/hamburger-fullscreen-menu
                            
                    .hero__title
                            svg(height="600px").section-title
                                <use xlink:href="#portfolio_header">
                            .user.hero__user-block
                                .user__photo
                                      img(src="/assets/img/avka.jpg" alt="avka").user__img
                                .user__name Dexter Freeman
                                .user__desc Личный сайт веб разработчика
                
                    a(href="#works-head").arrow.hero_arrow
                        svg
                            <use xlink:href="#arrow_down">
                          

            section.section.triangle-section
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle blog__triangle">
                    <polygon class = "triangle__left triangle_fill_white" points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                    <polygon class = "traingle__right triangle_fill_beige" points="1000,0   1000,86   500,86   500,75.5"></polygon>
                </svg>
            section.section.about#about
                .about__left
                    //- <svg class="triangle triangle_fill_white about__triangles" viewbox="0 0 1000 100" preserveAspectRatio="none">
                    //-       <polygon points="0,0 0,100 1000,100"></polygon>
                    //- </svg>
                    .container_half

                            <div class="title about__section-title" style="background-image: url('assets/img/icons/about_header.svg');">Обо мне</div>      
                            .user-about
                                .user-about__picture
                                      img(src="/assets/img/avka.jpg" alt="avka").user-about__img
                                .user-about__title
                                      .subtitle
                                            | Кто я
                                .user-about__text
                                    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.    
                .about__right
                    //- <svg class="triangle triangle_fill_beige about__triangles" viewbox="0 0 1000 100" preserveAspectRatio="none">
                    //-       <polygon points="0,100 1000,100 1000,0"></polygon>
                    //- </svg>
                    .container_half
                            .about-data
                                .about-data__description.about-user-info
                                    .about-user-info__title
                                        .subtitle Чем я могу быть <br>вам полезен
                                .about-user-info__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam officia incidunt, quisquam sit harum totam, perspiciatis nesciunt, culpa at, laborum nobis error. In doloremque iusto rem, alias incidunt, expedita quos.
                            .about-data__content
                                ul.skills
                                        li.skills__item
                                            .skill-section
                                                .skill-section__title Frontend
                                                ul.skill-section__list
                                                        li.skill-section__item
                                                            .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                        <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                        <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-90"/> 
                                                                    </svg>
                                                                    .skill__name HTML5
                                                        li.skill-section__item
                                                            .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                        <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                        <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-85"/> 
                                                                    </svg>
                                                                    .skill__name CSS3
                                                        li.skill-section__item
                                                            .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                        <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                        <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-85"/> 
                                                                    </svg>
                                                                    .skill__name JavaScript & jQuery
                                        li.skills__item
                                            .skill-section
                                                .skill-section__title Backend
                                                ul.skill-section__list
                                                        li.skill-section__item
                                                            .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                            <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                            <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-40"/> 
                                                                    </svg>
                                                                    .skill__name PHP
                                                        li.skill-section__item
                                                            .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                            <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                            <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-55"/> 
                                                                    </svg>
                                                                    .skill__name mySQL
                                                        li.skill-section__item
                                                            .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                            <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                            <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-40"/> 
                                                                    </svg>
                                                                    .skill__name Node.js & npm
                                                        li.skill-section__item
                                                              .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                            <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                            <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-60"/> 
                                                                    </svg>
                                                                    .skill__name Mongo.db
                                        li.skills__item
                                            .skill-section
                                                    .skill-section__title WorkFlow
                                                    ul.skill-section__list
                                                        li.skill-section__item
                                                                .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                        <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                        <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-80"/> 
                                                                    </svg>
                                                                    .skill__name Git
                                                        li.skill-section__item
                                                                .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                        <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                        <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-70"/> 
                                                                    </svg>
                                                                    .skill__name Gulp
                                                        li.skill-section__item
                                                                .skill
                                                                    <svg class="circles" viewBox='0 0 110 110'>
                                                                        <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                        <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-60"/> 
                                                                    </svg>
                                                                    .skill__name Bower
                
            section.section.map
                .yandex-map#map
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2fa70a13a33800715de0e7dfde20be513a1e979c350b974333e76739d7360fdd&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=false"></script>
                .contacts
                    .contacts__title
                        .subtitle Контакты
                    ul.contacts-list
                        li.contacts-list__item
                            a.contacts-link(href="skype:[login_skype]?call")
                                span.contacts-link__img
                                    <i class="fa fa-skype" aria-hidden="true"></i>
                                span.contacts-link__text Skype
                        li.contacts-list__item
                            a.contacts-link(href="mailto:example@email.com")
                                span.contacts-link__img
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                span.contacts-link__text example@mail.com
                        li.contacts-list__item
                            a.contacts-link(href="tel:+79787235810")
                                span.contacts-link__img
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                span.contacts-link__text +7(978) 723-58-10
                        li.contacts-list__item
                            a.contacts-link(href="#")
                                span.contacts-link__img
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                span.contacts-link__text Крым, г.Щёлкино


        include ../blocks/footer