extends ../_template

block variables
  - var title = 'Авторизация'

block content
    .index-page-wrapper
        .container
           
            .login-wrapper
                form.login#login
                    .login__title
                        .subtitle Авторизуйтесь
                    .login__inputs
                        input(type="text" name="name" required placeholder="Логин").login__name#name
                        input(type="password" name="password" required placeholder="Пароль").login__password#password
                        label(for="human")
                            input(type="checkbox" name="human").login__human#human
                            span.login__human_check
                            span Я человек
                        span.login__text Вы точно не робот?
                        .login__robot-block
                          label(for="robot_yes")
                              input(type="radio" name="robot").login__robot#robot_yes
                              span.login__robot_check
                              span Да
                          label(for="robot_no")
                              input(type="radio" name="robot").login__robot#robot_no
                              span.login__robot_check
                              span Не уверен
                    .login__btns
                        button(type="reset").login__btn На главную
                        button(type="submit").login__btn Войти